<h1>BIENVENIDO AL {{title}}</h1>
    <img id="cabecera" src="/imagenes/editar.png">
<p>Selecciona una opción</p>
<a href="/paciente">Listar paciente</a>
<a href="/medicos">Listar medicos</a>
<a href="/citas">Solicitar cita </a>